## Pandas DataFrames II


### Programming for Data Science
### Last Updated: Jan 15, 2023
---  


### PREREQUISITES
- variables
- data types
- operators
- list comprehensions (not essential)
- numpy arrays (not essential)
- pandas DataFrames I


### SOURCES 
- ten minutes to pandas  
https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html


- pivot_table()  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html


- concat()  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html


- merge()  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html


- get_dummies()  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html



### OBJECTIVES
- Introduce more advanced pandas dataframe operations for data munging
 


### CONCEPTS

- DataFrame
- apply()
- aggregation using split-apply-combine
- pivot_table()
- groupby()
- concat()
- merging/joining dataframes with merge(), concat()
- reshaping data
- dummy coding categorical data


---

## Additional Pandas DataFrame Functionality

Pandas DataFrames I covered creating, modifying, and subsetting DataFrames, among other topics.  
These notes will demonstrate further methods for data munging and analysis.

In [1]:
import numpy as np
import pandas as pd

#### Load Iris

In [2]:
import seaborn as sns

iris = sns.load_dataset('iris')

In [3]:
iris.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [6]:
sns.getsizeof(iris)

AttributeError: module 'seaborn' has no attribute 'getsizeof'

## I. `apply()`

Apply a transformation to each record. Uses a `lambda` function.

In [7]:
iris['sepal_len_sq'] = iris.sepal_length.apply(lambda x: x**2)
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species  sepal_len_sq
0           5.1          3.5           1.4          0.2  setosa         26.01
1           4.9          3.0           1.4          0.2  setosa         24.01
2           4.7          3.2           1.3          0.2  setosa         22.09
3           4.6          3.1           1.5          0.2  setosa         21.16
4           5.0          3.6           1.4          0.2  setosa         25.00

Transformation involving multiple columns. Uses `axis=1` to access columns.  
Compute average of `sepal_length`, `sepal_width`:

In [8]:
iris['sepal_len_wid_avg'] = iris[['sepal_length','sepal_width']].apply(lambda x: (x.sepal_length+x.sepal_width)/2, axis=1)
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_len_sq,sepal_len_wid_avg
0,5.1,3.5,1.4,0.2,setosa,26.01,4.30
1,4.9,3.0,1.4,0.2,setosa,24.01,3.95
2,4.7,3.2,1.3,0.2,setosa,22.09,3.95
3,4.6,3.1,1.5,0.2,setosa,21.16,3.85
4,5.0,3.6,1.4,0.2,setosa,25.00,4.30

### TRY FOR YOURSELF (UNGRADED EXERCISES)

1) Use `apply()` to append a new column that is the minimum of (petal_length, petal_width)

Print the head, tail of the new dataframe to check things look correct.

In [ ]:
iris['min_petal']=iris[['petal_length','petal_width']].apply(lambda x: min(x.petal_length, x.petal_width), axis=1)
print(iris.head())
print(iris.tail())

## II. Aggregation

Involves one or more of:

- splitting the data into groups
- applying a function to each group
- combining results

### `groupby()`

Compute mean of each column, grouped (separately) by species

In [11]:
iris.groupby("species").mean()

,sepal_length,sepal_width,petal_length,petal_width,sepal_len_sq,sepal_len_wid_avg
species,,,,,,
setosa,5.006,3.428,1.462,0.246,25.1818,4.217
versicolor,5.936,2.770,4.260,1.326,35.4972,4.353
virginica,6.588,2.974,5.552,2.026,43.7980,4.781

In [12]:
iris.groupby("species").median()

,sepal_length,sepal_width,petal_length,petal_width,sepal_len_sq,sepal_len_wid_avg
species,,,,,,
setosa,5.0,3.4,1.50,0.2,25.00,4.225
versicolor,5.9,2.8,4.35,1.3,34.81,4.300
virginica,6.5,3.0,5.55,2.0,42.25,4.800

In [13]:
iris.groupby("sepal_length").median()

,sepal_width,petal_length,petal_width,sepal_len_sq,sepal_len_wid_avg
sepal_length,,,,,
4.3,3.00,1.10,0.10,18.49,3.650
4.4,3.00,1.30,0.20,19.36,3.700
4.5,2.30,1.30,0.30,20.25,3.400
4.6,3.30,1.40,0.20,21.16,3.950
4.7,3.20,1.45,0.20,22.09,3.950
4.8,3.10,1.60,0.20,23.04,3.950
4.9,3.05,1.50,0.20,24.01,3.975
5.0,3.35,1.55,0.25,25.00,4.175
5.1,3.50,1.50,0.30,26.01,4.300
5.2,3.45,1.50,0.20,27.04,4.325
5.3,3.70,1.50,0.20,28.09,4.500
5.4,3.55,1.60,0.40,29.16,4.475
5.5,2.50,3.80,1.10,30.25,4.000
5.6,2.85,4.15,1.30,31.36,4.225
5.7,2.85,4.15,1.25,32.49,4.275
5.8,2.70,4.10,1.20,33.64,4.250
5.9,3.00,4.80,1.80,34.81,4.450
6.0,2.80,4.65,1.55,36.00,4.400
6.1,2.85,4.70,1.40,37.21,4.475
6.2,2.85,4.65,1.65,38.44,4.525
6.3,2.80,5.00,1.80,39.69,4.550
6.4,2.90,5.30,1.90,40.96,4.650
6.5,3.00,5.20,2.00,42.25,4.750
6.6,2.95,4.50,1.35,43.56,4.775
6.7,3.10,5.40,1.95,44.89,4.900
6.8,3.00,5.50,2.10,46.24,4.900
6.9,3.10,5.25,2.20,47.61,5.000
7.0,3.20,4.70,1.40,49.00,5.100
7.1,3.00,5.90,2.10,50.41,5.050
7.2,3.20,6.00,1.80,51.84,5.200
7.3,2.90,6.30,1.80,53.29,5.100
7.4,2.80,6.10,1.90,54.76,5.100
7.6,3.00,6.60,2.10,57.76,5.300
7.7,2.90,6.70,2.25,59.29,5.300
7.9,3.80,6.40,2.00,62.41,5.850

### `pivot_table()`

Apply a function `aggfunc` to selected values grouped by columns

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html)

Compute mean sepal length for each species:

In [14]:
pd.pivot_table(iris, values="sepal_length", columns=["species"], aggfunc = np.mean)

species       setosa  versicolor  virginica
sepal_length   5.006       5.936      6.588

In [17]:
pd.pivot_table(iris, values="sepal_length", columns=["species"], aggfunc = np.mean).transpose()

            sepal_length
species
setosa             5.006
versicolor         5.936
virginica          6.588

In [18]:
pd.pivot_table(iris, values=["sepal_length",'sepal_width'], columns=["species"], aggfunc = np.mean)

species       setosa  versicolor  virginica
sepal_length   5.006       5.936      6.588
sepal_width    3.428       2.770      2.974

In [19]:
pd.pivot_table(iris, values=["sepal_length",'sepal_width'], columns=["species"], aggfunc = np.mean).transpose()

            sepal_length  sepal_width
species
setosa             5.006        3.428
versicolor         5.936        2.770
virginica          6.588        2.974

### TRY FOR YOURSELF (UNGRADED EXERCISES)

2) Use a pivot table to compute the following statistics on sepal_width and petal_width grouped by species:

- median  
- mean

These can be computed together in a single call to `pivot_table()`.

In [ ]:
pd.pivot_table(iris, values=["sepal_width","petal_width"], columns=["species"], aggfunc = {np.mean, np.median})

## III. Merging/Joining DataFrames


### `concat()`  

Concatenate pandas objects along an axis

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html)

Create two dfs and vertically stack them

In [20]:
df1 = pd.DataFrame(np.random.randn(3, 4))
df2 = pd.DataFrame(np.random.randn(3, 4))

print(df1)
print('-'*45)
print(df2)

df3 = pd.concat([df1, df2], axis=0) #axis=0 combine by rows横向整合加在下面; axis=1 combine by columns竖向整合加在右边

print('-'*45)
print(df3)

          0         1         2         3
0  1.456910  1.049048  0.965178 -0.107631
1  0.068321  0.807483 -0.386426 -0.492300
2  0.191802 -1.436810  1.952159 -0.116665
---------------------------------------------
          0         1         2         3
0 -0.675749  1.078848  0.488214 -0.608595
1 -1.072905 -2.283475 -1.983125  0.936821
2  0.281873  0.271636 -0.206306  0.670805
---------------------------------------------
          0         1         2         3
0  1.456910  1.049048  0.965178 -0.107631
1  0.068321  0.807483 -0.386426 -0.492300
2  0.191802 -1.436810  1.952159 -0.116665
0 -0.675749  1.078848  0.488214 -0.608595
1 -1.072905 -2.283475 -1.983125  0.936821
2  0.281873  0.271636 -0.206306  0.670805

In [21]:
df4 = pd.concat([df1, df2], axis=1) #axis=0 combine by rows横向整合加在下面; axis=1 combine by columns竖向整合加在右边

print('-'*45)
print(df4)

---------------------------------------------
          0         1         2         3         0         1         2  \
0  1.456910  1.049048  0.965178 -0.107631 -0.675749  1.078848  0.488214
1  0.068321  0.807483 -0.386426 -0.492300 -1.072905 -2.283475 -1.983125
2  0.191802 -1.436810  1.952159 -0.116665  0.281873  0.271636 -0.206306

          3
0 -0.608595
1  0.936821
2  0.670805

### `merge()`

SQL-style joining of tables (DataFrames)

Important parameters include:

- `how` : type of merge {'left', 'right', 'outer', 'inner', 'cross'}, default ‘inner’
    - Type of merge to be performed.

        left: use only keys from left frame, similar to a SQL left outer join; preserve key order.

        right: use only keys from right frame, similar to a SQL right outer join; preserve key order.

        outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.

        inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.

        cross: creates the cartesian product from both frames, preserves the order of the left keys.


- `on`  : names to join on
        
[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)

Create two tables, `left` and `right`. Then right join them on `key`.  
Right join means include all records from table on right.  
The `key` is used for matching up the records.

In [ ]:
left = pd.DataFrame({"key": ["jamie", "bill"], "lval": [15, 22]})
right = pd.DataFrame({"key": ["jamie", "bill", "asher"], "rval": [4, 5, 8]})

joined = pd.merge(left, right, on="key", how="right")

print('---left')
print(left)
print('\n---right')
print(right)
print('\n---joined')
print(joined)

Notice the NaN inserted into the record with key=asher, since the left table didn't contain the key.

**Matching column names**  
In this next example, the value columns have the same name: *val*.  Notice what happens to the column names.

In [22]:
left = pd.DataFrame({"key": ["jamie", "bill"], "val": [15, 22]})
right = pd.DataFrame({"key": ["jamie", "bill", "asher"], "val": [4, 5, 8]})

joined = pd.merge(left, right, on="key", how="right") #根据右边表格“key“一栏整合，会保留右边的所有keys

print('---left')
print(left)
print('\n---right')
print(right)
print('\n---joined')
print(joined)

---left
     key  val
0  jamie   15
1   bill   22

---right
     key  val
0  jamie    4
1   bill    5
2  asher    8

---joined
     key  val_x  val_y
0  jamie   15.0      4
1   bill   22.0      5
2  asher    NaN      8

In [23]:
left = pd.DataFrame({"key": ["jamie", "bill"], "val": [15, 22]})
right = pd.DataFrame({"key": ["jamie", "bill", "asher"], "val": [4, 5, 8]})

joined = pd.merge(left, right, on="key", how="left") #根据左边表格里的“key“一栏整合，会保留右边的所有keys

print('---left')
print(left)
print('\n---right')
print(right)
print('\n---joined')
print(joined)

---left
     key  val
0  jamie   15
1   bill   22

---right
     key  val
0  jamie    4
1   bill    5
2  asher    8

---joined
     key  val_x  val_y
0  jamie     15      4
1   bill     22      5

In [24]:
left = pd.DataFrame({"key": ["jamie", "bill"], "val": [15, 22]})
right = pd.DataFrame({"key": ["jamie", "bill", "asher"], "val": [4, 5, 8]})

joined = pd.merge(left, right, on="key", how="inner") #根据两个表格里的“key“一栏整合，会保留两个表格中共有的keys（交集），这是默认

print('---left')
print(left)
print('\n---right')
print(right)
print('\n---joined')
print(joined)

---left
     key  val
0  jamie   15
1   bill   22

---right
     key  val
0  jamie    4
1   bill    5
2  asher    8

---joined
     key  val_x  val_y
0  jamie     15      4
1   bill     22      5

In [25]:
left = pd.DataFrame({"key": ["jamie", "bill"], "val": [15, 22]})
right = pd.DataFrame({"key": ["jamie", "bill", "asher"], "val": [4, 5, 8]})

joined = pd.merge(left, right, on="key", how="outer") #根据左边表格里的“key“一栏整合，会保留所有keys（并集）

print('---left')
print(left)
print('\n---right')
print(right)
print('\n---joined')
print(joined)

---left
     key  val
0  jamie   15
1   bill   22

---right
     key  val
0  jamie    4
1   bill    5
2  asher    8

---joined
     key  val_x  val_y
0  jamie   15.0      4
1   bill   22.0      5
2  asher    NaN      8

### TRY FOR YOURSELF (UNGRADED EXERCISES)

3) Redo the join exercise above, using an inner join instead of a right join.  
Make sure the results make sense.

In [ ]:
left = pd.DataFrame({"key": ["jamie", "bill"], "lval": [15, 22]})
right = pd.DataFrame({"key": ["jamie", "bill", "asher"], "rval": [4, 5, 8]})

joined = pd.merge(left, right, on="key", how="inner")

print('---left')
print(left)
print('\n---right')
print(right)
print('\n---joined')
print(joined)

add solution and fold to hide

## IV. Reshape

Changes the object's shape

We illustrate creating pandas Series, extracting array of length 6, and reshaping to 3x2 array.

In [ ]:
# create a series 
ser = pd.Series([1, 1, 2, 3, 5, 8]) 

# extract values 
vals = ser.values 

print('orig data:', vals)
print('orig type:', type(vals))
print('orig shape:', vals.shape)

# reshaping series
reshaped_vals = vals.reshape((3, 2)) 

print('\n reshaped vals:')
print(reshaped_vals)
print('\n new type:', type(reshaped_vals))
print('new shape:', reshaped_vals.shape)

Including -1 as one of the dimensions tells numpy: infer this dimension from the data and the other dimensions.

Example: enforce 3 columns:

In [ ]:
vals.reshape(-1,3)

Enforce 3 rows:

In [ ]:
vals.reshape(3,-1)

**IMPORTANT NOTE**  

Notice the shape of original array: `(6,)`  
This is a vector with one dimension, and is different from two-dimensional `(6,1)` array

### TRY FOR YOURSELF (UNGRADED EXERCISES)

4) Recreate the series from above with data [1, 1, 2, 3, 5, 8]  
Extract the data from the series and reshape to 2x3.  
Print both the reshaped data, and the dimensions.

In [ ]:
ser = pd.Series([1, 1, 2, 3, 5, 8])
vals= ser.values
resh = vals.reshape(2,3)
print(resh)
print('new shape:', resh.shape)

## V. Categoricals

Categorical data takes discrete values where computation on the values does not make sense.  
Zip code is a typical example.

To include categoricals in models, they must be converted to numeric.  

### `get_dummies()`
Dummy code categorical data

Important parameters: 

- `prefix`    : append prefix to column names (a good idea for later use)
- `drop_first`: remove first level, as only `k-1` variables needed to represent `k` levels

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html)

In [ ]:
cats = pd.DataFrame({'breed':['persian','persian','siamese','himalayan','burmese']})

print('--categorical data')
print(cats)

cats = pd.get_dummies(cats.breed, drop_first=True, prefix='breed')

print('\n')
print('--dummified categorical data')
print(cats)

Notice `burmese` was dropped (first level by alphabet)

### TRY FOR YOURSELF (UNGRADED EXERCISES)

5) The dataframe below contains two categoricals. Dummify each of them, giving them a prefix and dropping the first level from each. 

Print the new dataframe to insure correctness.

Hint: You might want to dummify each column into separate new dataframes, and then merge them together by using:

`pd.concat([df1, df2], axis=1)`

In [ ]:
cats2 = pd.DataFrame({'breed':['persian','persian','siamese','himalayan','burmese'], 
                      'color':['calico','white','seal point','cream','sable']})

In [ ]:
cats2 = pd.DataFrame({'breed':['persian','persian','siamese','himalayan','burmese'], 
                      'color':['calico','white','seal point','cream','sable']})

breed = pd.get_dummies(cats2.breed, drop_first=True, prefix='breed_')
color = pd.get_dummies(cats2.color, drop_first=True, prefix='color_')

cats3 = pd.concat([breed, color], axis=1)
cats3

---