In [1]:
# python
import sqlite3

In [32]:
# create some data
stocks = [
        ('NVDA',219,-3.42),
        ('NVDA',218,-1.42),
        ('AAPL',146,-2.73),
        ('GOOG',2829.27,-58.20)]

In [3]:
pwd

'/Users/youmisuk/Documents/repos/ds2001_spring22_original/lecture_notes/python'

In [33]:
# connect to db

# update with your path to the database
path_to_db = "/Users/youmisuk/sqlite/stocks.db"

In [34]:
# create db connection
conn = sqlite3.connect(path_to_db)

In [35]:
# create cursor
cur = conn.cursor()

In [37]:
# create a table in the db called "holdings" and pass a schema
# end the transaction with a commit
cur.execute('create table holdings2 (ticker text, price real, chg real)')
conn.commit()

In [38]:
# insert multiple records of data with executemany()
cur.executemany('insert into holdings2 values (?,?,?)', stocks)
conn.commit()

In [39]:
# query the table
# print all the rows
for row in conn.execute('select * from holdings2'):
    print(row)

('NVDA', 219.0, -3.42)
('NVDA', 218.0, -1.42)
('AAPL', 146.0, -2.73)
('GOOG', 2829.27, -58.2)

In [42]:
# print all the rows where price > 200
for row in conn.execute('select * from holdings2 where price > 200'):
    print(row)

('NVDA', 219.0, -3.42)
('NVDA', 218.0, -1.42)
('GOOG', 2829.27, -58.2)

In [43]:
# print all the rows where price > 200. show only ticker, price
for row in conn.execute('select ticker, price from holdings2 where price > 200'):
    print(row)

('NVDA', 219.0)
('NVDA', 218.0)
('GOOG', 2829.27)

## Group by

In [44]:
for row in conn.execute('select ticker, count(price) from holdings2 group by ticker'):
    print(row)

('AAPL', 1)
('GOOG', 1)
('NVDA', 2)

In [52]:
for row in conn.execute('select ticker, round(min(price), 1), round(max(price), 1), round(avg(price), 1) from holdings2 group by ticker'):
    print(row)

('AAPL', 146.0, 146.0, 146.0)
('GOOG', 2829.3, 2829.3, 2829.3)
('NVDA', 218.0, 219.0, 218.5)

In [13]:
# save the resultant dataset in a list
data = []
for row in conn.execute('select ticker, price from holdings where price > 200'):
    data.append(row)

In [14]:
data

[('NVDA', 219.0), ('GOOG', 2829.27)]

In [15]:
len(data)

2

In [16]:
type(data)

list

In [18]:
data[0][0]

'NVDA'

In [ ]:
# TRY FOR YOURSELF 
# Create a dataframe with columns: ticker, price.
# Load all of the data into the dataframe

In [19]:
import pandas as pd

In [24]:
df = pd.DataFrame(data, columns=['ticker', 'price'], index=['hi', 'hello'])

In [25]:
df

      ticker    price
hi      NVDA   219.00
hello   GOOG  2829.27

In [26]:
df.ticker.value_counts()

GOOG    1
NVDA    1
Name: ticker, dtype: int64

In [27]:
df.price.mean()

1524.135