## Fighting Forest Fires with Functions


### Programming for Data Science
### Last Updated: Jan 15, 2023
---

### Objectives: 
- Work with functions (built-in and user-defined), lambda functions, and list comprehensions

### Executive Summary


You will work with the Forest Fires Data Set from UCI.  

Information about the dataset: https://archive.ics.uci.edu/ml/datasets/Forest+Fires

Background: This dataset was used in a regression task, where the aim was to predict the burned area of forest fires, in the northeast region of Portugal, by using meteorological and other data.

We will apply some of the steps leading to an ML task.

### Instructions

Run the pre-populated code, and along the way, you will be asked to perform several graded tasks <span style="color:blue">(prompted in blue font)</span>.  
Show your code and solutions clearly in the cells following each question.   
When the file is completed, submit the notebook through Collab.

**TOTAL POINTS: 14**

---

In [1]:
import pandas as pd
import numpy as np

#### Read in the dataset from the UCI Machine Learning Repository

In [2]:
path_to_data = "https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/forestfires.csv"
fire = pd.read_csv(path_to_data)

In [3]:
fire.head(3)

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0

**Working with spatial coordinates X, Y**

X - x-axis spatial coordinate within the Montesinho park map: 1 to 9  
Y - y-axis spatial coordinate within the Montesinho park map: 2 to 9

In [8]:
# extract the spatial coords

X, Y = fire.X.values, fire.Y.values

**<span style="color:blue">(2 PTS) 1. Write a function called `coord_builder()` with these requirements:</span>**

- takes X, Y as inputs
- contains a docstring with short description of the function
- uses the zip() function (details: https://realpython.com/python-zip-function/)
- builds and returns a list of tuples [(x1,y1), (x2,y2), ..., (xn,yn)] where (xi,yi) are the ordered pairs from X, Y

Hint: You'll need to call list() on the zipped object to show the results

In [13]:
def coord_builder(x, y):
    '''
    PURPOSE: Create the coordinates by pairing x and y
    
    INPUTS:
    x   int
    y   int
    
    OUTPUTS:
    coords  (x,y)
    '''
    zipped = zip(X,Y)
    coords = list(zipped)
    return coords

coord_builder(X,Y)

[(7, 5),
 (7, 4),
 (7, 4),
 (8, 6),
 (8, 6),
 (8, 6),
 (8, 6),
 (8, 6),
 (8, 6),
 (7, 5),
 (7, 5),
 (7, 5),
 (6, 5),
 (6, 5),
 (6, 5),
 (6, 5),
 (5, 5),
 (8, 5),
 (6, 4),
 (6, 4),
 (6, 4),
 (5, 4),
 (7, 4),
 (7, 4),
 (7, 4),
 (7, 4),
 (7, 4),
 (7, 4),
 (6, 3),
 (6, 3),
 (6, 3),
 (6, 3),
 (6, 3),
 (6, 3),
 (6, 3),
 (6, 3),
 (6, 3),
 (7, 4),
 (7, 3),
 (4, 4),
 (4, 4),
 (4, 4),
 (4, 4),
 (4, 4),
 (4, 4),
 (5, 6),
 (5, 6),
 (6, 6),
 (4, 4),
 (4, 4),
 (4, 4),
 (4, 3),
 (4, 3),
 (4, 3),
 (4, 3),
 (4, 3),
 (4, 3),
 (4, 3),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (4, 5),
 (4, 5),
 (4, 5),
 (5, 4),
 (5, 4),
 (5, 4),
 (9, 9),
 (9, 9),
 (1, 3),
 (1, 2),
 (1, 2),
 (1, 2),
 (1, 2),
 (1, 2),
 (1, 2),
 (1, 2),
 (1, 2),
 (1, 2),
 (1, 2),
 (1, 2),
 (6, 5),
 (6, 5),
 (8, 6),
 (8, 6),
 (8, 6),
 (8, 6),
 (4, 4),
 (3, 4),
 (3, 4),
 (3, 4),
 (3, 4),
 (3, 4),
 (3, 4),
 (2, 4),
 (2, 4),
 (2, 4),
 (4, 5),
 (4, 5),
 (4, 5),
 (4, 5),
 (4, 5),
 (4, 4),
 (3, 4),
 (3, 4),
 (3, 4),
 (3, 4),
 (3, 5),
 (3, 4),
 (3, 4),
 (3, 4),
 (3, 4),
 (3, 4),
 (3, 4),
 (3, 4),
 (3, 4),
 (3, 4),
 (3, 4),
 (3, 5),
 (3, 5),
 (3, 5),
 (2, 5),
 (4, 6),
 (4, 6),
 (4, 6),
 (4, 6),
 (3, 5),
 (3, 5),
 (3, 6),
 (3, 6),
 (9, 9),
 (1, 4),
 (2, 5),
 (1, 2),
 (8, 6),
 (1, 2),
 (2, 5),
 (6, 5),
 (5, 4),
 (8, 3),
 (2, 2),
 (8, 6),
 (6, 5),
 (9, 9),
 (3, 4),
 (5, 4),
 (1, 5),
 (7, 4),
 (2, 4),
 (2, 2),
 (2, 4),
 (7, 4),
 (7, 4),
 (6, 4),
 (6, 3),
 (8, 6),
 (8, 5),
 (6, 5),
 (6, 5),
 (6, 5),
 (6, 5),
 (8, 6),
 (5, 4),
 (8, 6),
 (7, 4),
 (4, 4),
 (1, 4),
 (1, 4),
 (6, 5),
 (2, 5),
 (2, 5),
 (8, 6),
 (1, 3),
 (8, 6),
 (5, 4),
 (7, 4),
 (8, 6),
 (2, 5),
 (8, 6),
 (1, 5),
 (6, 4),
 (7, 4),
 (6, 5),
 (2, 5),
 (2, 2),
 (4, 5),
 (2, 2),
 (2, 5),
 (6, 5),
 (4, 5),
 (3, 4),
 (2, 4),
 (1, 5),
 (6, 5),
 (7, 4),
 (8, 6),
 (5, 6),
 (4, 5),
 (2, 2),
 (7, 5),
 (6, 5),
 (8, 3),
 (4, 4),
 (7, 4),
 (7, 4),
 (7, 3),
 (4, 4),
 (4, 4),
 (4, 4),
 (1, 3),
 (4, 5),
 (6, 5),
 (8, 6),
 (3, 4),
 (4, 3),
 (2, 2),
 (7, 4),
 (4, 4),
 (7, 5),
 (8, 6),
 (4, 6),
 (8, 6),
 (4, 4),
 (1, 5),
 (6, 4),
 (9, 4),
 (4, 5),
 (8, 6),
 (2, 2),
 (1, 2),
 (6, 5),
 (7, 5),
 (6, 3),
 (4, 4),
 (2, 4),
 (7, 4),
 (2, 4),
 (3, 4),
 (5, 4),
 (2, 4),
 (8, 6),
 (3, 4),
 (8, 5),
 (8, 5),
 (6, 5),
 (7, 4),
 (6, 3),
 (2, 5),
 (8, 6),
 (4, 3),
 (3, 4),
 (7, 4),
 (2, 4),
 (3, 4),
 (2, 4),
 (6, 3),
 (4, 4),
 (4, 4),
 (6, 5),
 (2, 2),
 (3, 4),
 (4, 4),
 (2, 2),
 (8, 6),
 (2, 5),
 (4, 6),
 (8, 6),
 (4, 6),
 (4, 4),
 (3, 4),
 (4, 4),
 (4, 4),
 (4, 6),
 (6, 5),
 (6, 3),
 (3, 4),
 (5, 4),
 (2, 5),
 (7, 6),
 (7, 4),
 (7, 4),
 (7, 4),
 (2, 5),
 (9, 4),
 (4, 5),
 (7, 6),
 (8, 6),
 (7, 5),
 (6, 4),
 (8, 6),
 (8, 6),
 (6, 5),
 (6, 5),
 (6, 5),
 (3, 6),
 (3, 6),
 (6, 5),
 (1, 4),
 (7, 4),
 (3, 4),
 (2, 4),
 (2, 4),
 (7, 4),
 (6, 3),
 (2, 4),
 (6, 5),
 (4, 4),
 (3, 4),
 (4, 5),
 (4, 4),
 (6, 5),
 (5, 4),
 (6, 3),
 (1, 4),
 (6, 5),
 (3, 5),
 (6, 5),
 (1, 4),
 (5, 4),
 (6, 5),
 (6, 5),
 (4, 3),
 (3, 3),
 (7, 4),
 (4, 4),
 (1, 4),
 (2, 3),
 (4, 3),
 (7, 4),
 (6, 3),
 (8, 6),
 (2, 4),
 (2, 5),
 (8, 6),
 (6, 3),
 (8, 6),
 (6, 3),
 (2, 2),
 (1, 4),
 (5, 4),
 (3, 4),
 (5, 4),
 (5, 4),
 (4, 4),
 (7, 4),
 (7, 4),
 (7, 4),
 (4, 4),
 (4, 4),
 (6, 3),
 (6, 3),
 (1, 4),
 (6, 5),
 (4, 3),
 (7, 4),
 (4, 3),
 (6, 5),
 (6, 5),
 (4, 5),
 (4, 5),
 (6, 5),
 (4, 5),
 (7, 4),
 (3, 4),
 (4, 5),
 (5, 4),
 (6, 5),
 (6, 5),
 (8, 6),
 (2, 2),
 (6, 5),
 (4, 5),
 (5, 4),
 (8, 6),
 (8, 6),
 (9, 6),
 (8, 4),
 (2, 4),
 (3, 4),
 (5, 5),
 (6, 4),
 (7, 4),
 (7, 4),
 (8, 6),
 (1, 3),
 (2, 4),
 (6, 5),
 (4, 5),
 (4, 3),
 (5, 6),
 (1, 2),
 (9, 5),
 (9, 5),
 (3, 4),
 (9, 9),
 (8, 6),
 (2, 4),
 (2, 2),
 (6, 5),
 (4, 5),
 (4, 3),
 (1, 4),
 (6, 3),
 (7, 4),
 (9, 4),
 (7, 5),
 (5, 4),
 (8, 6),
 (6, 3),
 (6, 5),
 (2, 4),
 (2, 5),
 (8, 8),
 (2, 4),
 (8, 6),
 (1, 3),
 (8, 6),
 (2, 2),
 (8, 6),
 (2, 4),
 (1, 3),
 (3, 4),
 (7, 4),
 (1, 3),
 (8, 6),
 (2, 4),
 (1, 4),
 (2, 5),
 (8, 6),
 (8, 6),
 (2, 5),
 (1, 3),
 (5, 4),
 (8, 6),
 (6, 5),
 (1, 2),
 (2, 5),
 (5, 5),
 (6, 5),
 (3, 4),
 (7, 4),
 (7, 4),
 (4, 5),
 (1, 4),
 (7, 4),
 (4, 5),
 (3, 4),
 (3, 4),
 (2, 4),
 (1, 4),
 (8, 6),
 (7, 4),
 (2, 5),
 (8, 6),
 (1, 4),
 (6, 5),
 (6, 4),
 (2, 2),
 (6, 5),
 (3, 4),
 (6, 5),
 (6, 3),
 (5, 4),
 (4, 3),
 (8, 3),
 (9, 4),
 (4, 3),
 (2, 5),
 (4, 3),
 (4, 3),
 (7, 4),
 (7, 4),
 (9, 9),
 (4, 3),
 (3, 4),
 (8, 6),
 (2, 5),
 (2, 4),
 (5, 4),
 (5, 4),
 (4, 4),
 (4, 4),
 (4, 4),
 (4, 4),
 (1, 3),
 (1, 3),
 (6, 6),
 (6, 6),
 (4, 5),
 (3, 4),
 (6, 5),
 (7, 5),
 (8, 6),
 (7, 5),
 (4, 4),
 (2, 4),
 (4, 3),
 (1, 2),
 (1, 2),
 (2, 4),
 (1, 2),
 (5, 4),
 (6, 5),
 (8, 6),
 (4, 3),
 (2, 4),
 (7, 4),
 (1, 4),
 (6, 3)]

**<span style="color:blue">(1 PT) 2. Call your `coord_builder()` function, passing in X, Y.  
    Please subset the returned list to show a list with only the FIRST FIVE TUPLES. </span>**

In [10]:
coord_list = coord_builder(X,Y)
first_five_coords = coord_list[:5]
first_five_coords

[(7, 5), (7, 4), (7, 4), (8, 6), (8, 6)]

**Working with AREA**

In [21]:
# extract values for area
area = fire.area.values

**<span style="color:blue">(1 PT) 3. Write code to print the minimum area and maximum area in a tuple
(min_value, max_value) where the min_value, max_value are floats.</span>**

In [14]:
def get_min_and_max(areas):
    min_value = min(areas)
    max_value = max(areas)
    min_max = (min_value, max_value)
    return min_max

get_min_and_max(area)

(0.0, 1090.84)

**<span style="color:blue">(2 PTS) 4. Write a lambda function that computes the following transformation of a variable:</span>**   
```    
    logarithm(base10) of [1 + x]
```

**<span style="color:blue">Then call the lambda function on *area*, printing the LAST 10 values.</span>**  
Hint: numpy has a function that can be applied to an array.

In [24]:
import math
variable_transform = lambda x: math.log10(1 + x)
last_10 = area[-10:]
transformed = [variable_transform(x) for x in last_10]
transformed

[0.0,
 0.0,
 0.5010592622177514,
 0.1553360374650618,
 0.0,
 0.8715729355458788,
 1.7426465899387362,
 1.0849335749367162,
 0.0,
 0.0]

**Working with MONTH**

month - month of the year: 'jan' to 'dec'

In [26]:
month = fire.month.values

**<span style="color:blue">(1 PT) 5. Call the `unique()` function (from the numpy package) on *month*, printing the unique months:</span>**

In [29]:
unique_months = np.unique(month)
unique_months

array(['apr', 'aug', 'dec', 'feb', 'jan', 'jul', 'jun', 'mar', 'may',
       'nov', 'oct', 'sep'], dtype=object)

**<span style="color:blue">(1 PT) 6. Write a list comprehension to select all months starting with letter 'a' from *month*.   
    Next, call set() on the result, to get the unique months starting with letter 'a'. Print this result.</span>**

In [31]:
a_months = [mon for mon in month if mon[0] == "a"]
unique_a_months = set(a_months)
unique_a_months

{'apr', 'aug'}

**Working with DMC**  
DMC - DMC index from the FWI system: 1.1 to 291.3

In [34]:
dmc = fire.DMC.values

**<span style="color:blue">(2 PTS) 7. Write a function called `bandpass_filter()` with these requirements:</span>**

- takes three inputs: 
  - a numpy array to be filtered
  - an integer serving as a lower bound L
  - an integer serving as an upper bound U
- returns a new array containing only the values from the original array which are greater than L AND less than U

In [32]:
def bandpass_filter(arr, L, U):
    for i in arr:
        if L <= i <= U:
            return i

**<span style="color:blue">(1 PT) 8. Call `bandpass_filter()` passing DMC as the array, L=25, U=35, printing the result. </span>**

In [35]:
bandpass_filter(dmc, 25, 35)

26.2

**Working with FFMC**  
FFMC - FFMC index from the FWI system: 18.7 to 96.20

In [36]:
FFMC = fire.FFMC.values

**<span style="color:blue">(2 PTS) 9. Write a function called `sum_sq_err()` with these requirements:</span>**

- take a numpy array as input
- compute the mean of the array, mu
- using a for-loop, compute the squared deviation of each array element xi from the mean, (xi - mu)**2  
Hint: it may be helpful to keep a running sum of the squared deviations


- computes the sum of squared deviations
- returns the sum of squared deviations

In [39]:
def sum_sq_err(arr):
    mu = np.mean(arr)
    sum_std = 0
    for xi in arr:
        std = (xi - mu)**2
        sum_std = sum_std + std
        return sum_std

**<span style="color:blue">(1 PT) 10. Call `sum_sq_err()` passing FFMC as the array, printing the result. </span>**

In [40]:
sum_sq_err(FFMC)

19.755187867813547

---