In [1]:
import pandas as pd

In [50]:
apple_data = pd.read_csv("apple_data.csv")
apple_data.head()

         date   adj_close
0  2020-01-02  298.829956
1  2020-01-03  295.924713
2  2020-01-06  298.282715
3  2020-01-07  296.879883
4  2020-01-08  301.655548

In [51]:
class Stock:
    
    def __init__(self, ticker, prices, sector):
        self.ticker = ticker
        self.prices = prices
        self.sector = sector
        
    def print_sector(self):
        return self.sector
    
    def get_row_count(self):
        price_records = len(self.prices)
        print(price_records)

In [52]:
mystock = Stock("AAPL", apple_data, 'technology')

In [53]:
mystock.ticker

'AAPL'

In [54]:
mystock.print_sector()

'technology'

In [55]:
mystock.get_row_count()

135

In [56]:
aaa=((apple_data['adj_close'][1]-apple_data['adj_close'][0])/apple_data['adj_close'][0])*100 
aaa

-0.9722060526586884

In [62]:
mystock.prices['returns'] =  mystock.prices['adj_close'].pct_change() * 100
mystock.prices.head()

         date   adj_close   returns
0  2020-01-02  298.829956       NaN
1  2020-01-03  295.924713 -0.972206
2  2020-01-06  298.282715  0.796825
3  2020-01-07  296.879883 -0.470303
4  2020-01-08  301.655548  1.608619